<div class="contenu">
  <div class="red"></div>
  <div class="main">
    <h1>Les mythes et légendes au Japon</h1>
    <p class="presentation">
      Les japonais sont très supersticieux.
      Plusieurs histoires, faisant partie du folklore japonais, ont été inventées au cours de l'histoire de ce pays.
      Certaines de ces histoires sont passionnantes, c'est pourquoi j'ai décidé de dédier une rubrique de mon site à ces
      légendes.
      Dans Pompoko, fim célèbre au Japon, on met en scène des tanukis, animaux légendaires capables de se transformer à
      leur guise.
      Ce film est très démonstratif des légendes de ce pays.
      Lors d'une grande parade, on voit ces tanukis se transformer en yokai, créatures magiques du folklore japonais,
      afin d'effrayer les humains.
      Je vous invite à regarder ce film:
      <a class="pompoko" href="https://streamcomplet.nu/films/pompoko" target="_blank">Pompoko en streaming</a>
      Voici une liste d'histoires que j'ai trouvées passionnantes, toutes sorties du folklore japonais.
    </p>
    <span *ngFor="let row of mythsList">
      <div class="articles">
        <h2>{{row.Titre}}</h2>
        <img [src]="row.Image" alt="mythes">
        <div class="credit">
          <p>{{row.Attribution}}</p>
          <a class="liens" [href]="row.Lien" target="_blank">Lien original</a>
        </div>
        <p>
          {{row.Resume}}
        </p>
      </div>
    </span>
  </div>
  <div class="red"></div>
</div>
