<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<footer>
  <div class="news">
    <div class="info">
      <strong>{{getNews[0].title}}</strong>
      <em>Date de publication: {{getNews[0].pubDate}}</em>
    </div>
    <p>{{getNews[0].description}}</p>
  </div>
  <div class="footer">
    <a href="https://www.edreams.fr/" class="avion" target="_blank"><img src="http://bariserv.net:3000/nihonniikou/footer/logo_avion.jpg" alt="Billets d'avion">Réservez votre billet d'avion dès maintenant!</a>
    <a href="https://fr.hotels.com/co10233085/hotels-en-japon/?rffrid=aff.hcom.fr.002.003.4039634.cjaff.kwrd%3Db080d725ac1911ea82b700e50a180512.CID%3D1556899.TYPE%3D416026&wapa6=&sub_publisher=4039634&sub_site=7163577&sub_ad=13831003" class="hotel" target="_blank"><img src="http://bariserv.net:3000/nihonniikou/footer/logo_hotel.jpg" alt="hotel">Réservez un hôtel pour
      votre séjour!</a>
    <a href="https://www.japan-rail-pass.fr/jr-pass" class="train" target="_blank"><img src="http://bariserv.net:3000/nihonniikou/footer/logo_train.png" alt="Pass train">Commandez votre Japan Rail pass pour le train!</a>
    <a href="https://apps.apple.com/fr/app/yelp-the-best-local-food-drinks-services-more/id284910350" class="restau" target="_blank"><img src="http://bariserv.net:3000/nihonniikou/footer/logo_restau.jpg" alt="Restaurants">Mangez dans de bons
      restaurants!</a>
  </div>
</footer>
