<div class="contenu">
  <div class="red"></div>
  <div class="main">
    <h1>Bienvenue!</h1>
    <p class="presentation">
      Bonjour à tous! Amoureux du Japon, voici un petit site que j'ai créé afin de partager ma passion envers ce pays
      avec tout le monde!
      Il n'est pas encore très avancé et ne contient pas énormément de rubriques mais soyez-en sûrs, il est fait avec
      amour!
      Le Japon est un pays magnifique. De nombreux paysages inimaginables s'y trouvent, ainsi que des activités que vous
      n'êtes pas prêts d'oublier, comme les karaoke, les onsen, différents zoos ou encore les grands festivals qui s'y
      déroulent tout au long de l'année!
      C'est aussi un pays chargé d'histoire, et également très attaché à ses traditions. Si vous y partez un jour, vous
      y découvrirez une culture nouvelle et très intéressante, c'est pourquoi je vous invite à vous y rendre dès que
      possible!
      Sur ce site, j'ai décidé de parler des choses qui me semblent les plus intéressantes à connaître, comme les lieux
      à visiter, l'histoire de ce pays, différentes recettes de leurs plats tout bonnement délicieux, les festivals,
      ainsi que les légendes que j'apprécie énormément.<br>
      Je vous souhaite une bonne visite!
    </p>
    <div class="mosaique">
      <div class="gauche">
        <div class="gauche1" (click)="redirection('Festival')">
          <h4>Festivals</h4>
        </div>
        <div class="gauche2" (click)="redirection('Cooking')">
          <h4>Cuisine</h4>
        </div>
      </div>
      <div class="milieu">
        <div class="milieu1" (click)="redirection('Myths')">
          <h4>Mythes</h4>
        </div>
        <div class="milieu2" (click)="redirection('Myths')">
          <h4>Mythes</h4>
        </div>
      </div>
      <div class="droite">
        <div class="droite1" (click)="redirection('History')">
          <h4>Histoire</h4>
        </div>
        <div class="droite2" (click)="redirection('Places')">
          <h4>Villes à visiter</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="red"></div>
</div>
